section.team 
  .container 
    h1.team__title.text-center 
      | Наша супер команда
    a(href="#").default__more
      span Узнать больше
    .swiper.swiperGroup
      .swiperGroup__inner.swiper-wrapper
        a(href="/company/about.html").swiperGroup__slide.team__slide.swiper-slide
          .swiperGroup__top
            img(data-src=`${baseDir}/images/team/1.webp` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__name Анна
            .swiperGroup__descr 
              | Арт-директор.Окончила Московский государственный Университет им. М.В. Ломоносова, факультет искусств, кафедра общей теории и семиотики искусства.Работала научным сотрудником в музее-панораме «Бородинская битва», экспертом декоративно-прикладного искусства в аукционном доме «Русская эмаль», экспертом-искусствоведом в галерее «Три Века».
        a(href="/company/about.html").swiperGroup__slide.team__slide.swiper-slide
          .swiperGroup__top
            img(data-src=`${baseDir}/images/team/2.webp` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__name Полина
            .swiperGroup__descr 
              | Окончила Московский государственный институт культуры (МГИК), направление: Музеология и охрана объектов культурного и природного наследия.Аттестованный эксперт Министерства культуры Российской Федерации. Специализация: декоративно-прикладное искусство, в том числе и религиозного назначения (Европа, XIX-XXI вв)
        a(href="/company/about.html").swiperGroup__slide.team__slide.swiper-slide
          .swiperGroup__top
            img(data-src=`${baseDir}/images/team/3.webp` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__name Дарья
            .swiperGroup__descr
              | Чайный сервиз "Васильки на черном фоне" на 5 персон, фарфор, роспись, золочение, Дмитровский фарфоровый завод (ДФЗ Вербилки), СССР, 1951-1954 гг.
        a(href="/company/about.html").swiperGroup__slide.team__slide.swiper-slide
          .swiperGroup__top
            img(data-src=`${baseDir}/images/team/4.webp` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__name Степан
            .swiperGroup__descr 
              | Коллекционер, соавтор музейных выставок и коллекций, посвящённых агитационному искусству СССР («Лицо в противогазе», Дворец Ольденбургских и др.), эксперт по фалеристике.
        a(href="/company/about.html").swiperGroup__slide.team__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            img(data-src=`${baseDir}/images/team/2.webp` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__name Полина
            .swiperGroup__descr 
              | Окончила Московский государственный институт культуры (МГИК), направление: Музеология и охрана объектов культурного и природного наследия.Аттестованный эксперт Министерства культуры Российской Федерации. Специализация: декоративно-прикладное искусство, в том числе и религиозного назначения (Европа, XIX-XXI вв)
      .swiperGroup__prev.swiperGroup__arrow
        +icon('slider-arrow-left','swiperGroup__icon')
      .swiperGroup__next.swiperGroup__arrow
        +icon('slider-arrow-right','swiperGroup__icon')