section.reputation
  .container 
    h1.reputation__title.text-center 
      | Превосходная репутация
    a(href="#").default__more
      span Узнать больше
    .reputation__inner 
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          picture
            source(srcset=`${baseDir}/images/brends/1.webp` type="image/webp")
            img(data-src=`${baseDir}/images/brends/1.jpg` alt="img").lozad
        .reputation__rating 4,8/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          picture
            source(srcset=`${baseDir}/images/brends/2.webp` type="image/webp")
            img(data-src=`${baseDir}/images/brends/2.jpg` alt="img").lozad
        .reputation__rating 4,9/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          picture
            source(srcset=`${baseDir}/images/brends/3.webp` type="image/webp")
            img(data-src=`${baseDir}/images/brends/3.jpg` alt="img").lozad
        .reputation__rating 5/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          picture
            source(srcset=`${baseDir}/images/brends/4.webp` type="image/webp")
            img(data-src=`${baseDir}/images/brends/4.jpg` alt="img").lozad
        .reputation__rating 4,5/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          picture
            source(srcset=`${baseDir}/images/brends/5.webp` type="image/webp")
            img(data-src=`${baseDir}/images/brends/5.jpg` alt="img").lozad
        .reputation__rating 4,9/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          picture
            source(srcset=`${baseDir}/images/brends/6.webp` type="image/webp")
            img(data-src=`${baseDir}/images/brends/6.jpg` alt="img").lozad
        .reputation__rating 4,8/5
