section.reputation
  .container 
    h1.reputation__title.text-center 
      | Превосходная репутация
    a(href="#").default__more
      span Узнать больше
    .reputation__inner 
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          img(data-src=`${baseDir}/images/brends/1.webp` alt="img").lozad
        .reputation__rating 4,8/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          img(data-src=`${baseDir}/images/brends/2.webp` alt="img").lozad
        .reputation__rating 4,9/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          img(data-src=`${baseDir}/images/brends/3.webp` alt="img").lozad
        .reputation__rating 5/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          img(data-src=`${baseDir}/images/brends/4.webp` alt="img").lozad
        .reputation__rating 4,5/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          img(data-src=`${baseDir}/images/brends/5.webp` alt="img").lozad
        .reputation__rating 4,9/5
      a(href="/company/guarantees.html").reputation__item
        .reputation__top
          img(data-src=`${baseDir}/images/brends/6.webp` alt="img").lozad
        .reputation__rating 4,8/5
