section.advantages
  .container
    h1.advantages__title.text-center Гарантии антикварной гелереи «Однажды»
    a(href="#").default__more
      span Узнать больше
    .advantages__inner
      .advantages__item
        .advantages__top
          img(data-src=`${baseDir}/img/advantages/guarantees-1.svg` alt="img").lozad
        .advantages__body
          | Каждый предмет вы можете осмотреть лично перед покупкой в нашей галерее по адресу: 
          a(href="#") 
            span Москва ул. Краснопролетарская, д. 7.
          br
          | Более 10 000 предметов в наличии.
      .advantages__item
        .advantages__top
          img(data-src=`${baseDir}/img/advantages/guarantees-2.svg` alt="img").lozad
        .advantages__body
          | Все предметы 100% подлинные и проверены вручную нашими 
          a(href="#") 
            span опытными экспертами 
          | с профильным образованием.
      .advantages__item
        .advantages__top
          img(data-src=`${baseDir}/img/advantages/guarantees-3.svg` alt="img").lozad
        .advantages__body
          | Все предметы в наличии: отправим заказ в течение 24ч с момента оформления.
      .advantages__item
        .advantages__top
          img(data-src=`${baseDir}/img/advantages/guarantees-4.svg` alt="img").lozad
        .advantages__body
          | Гарантируем, что Вы получите свой заказ и останетесь довольны либо мы вернём Вам деньги.
      .advantages__item
        .advantages__top
          img(data-src=`${baseDir}/img/advantages/guarantees-5.svg` alt="img").lozad
        .advantages__body
          | Превосходная репутация:
          br
          a(href="#") 
            span 4.8 из 5 на десяти площадках.
      .advantages__item
        .advantages__top
          img(data-src=`${baseDir}/img/advantages/guarantees-6.svg` alt="img").lozad
        .advantages__body
          | Мы несём полную ответственность за сохранность заказа во время транспортировки.
      .advantages__item
        .advantages__top
          img(data-src=`${baseDir}/img/advantages/guarantees-7.svg` alt="img").lozad
        .advantages__body
          | Вы можете вернуть любой предмет в течение 30 дней с момента получения вами заказа если вам что-либо не понравится.