section.articles
  .container 
    h2.articles__title.text-center
      | Полезные статьи
    .swiper.articles__swiper
      .swiper-wrapper.articles__inner
        a(href="#").articles__item.swiper-slide
          .articles__top
            picture
              source(srcset=`${baseDir}/images/articles/1.webp` type="image/webp")
              img(data-src=`${baseDir}/images/articles/1.jpg` alt="img").lozad
          .articles__body
            .articles__name Гжельский фарфор
            .articles__descr
              | нежные узоры на белом фоне, выполненные в синих, голубых, васильковых тонах. Главный секрет росписи заключается в мазках
        a(href="#").articles__item.swiper-slide
          .articles__top
            picture
              source(srcset=`${baseDir}/images/articles/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/articles/2.jpg` alt="img").lozad
          .articles__body
            .articles__name ЛОЗ. Фарфор Ленинградского опытного завода
            .articles__descr
              | aбревиатура ЛОЗ отражает последний этап советского периода работы Ленинградского завода фарфоровых изделий, служившего опытным предприятием при Государственном исследовательском керамическом институте (ГИКИ).
        a(href="#").articles__item.swiper-slide
          .articles__top
            picture
              source(srcset=`${baseDir}/images/articles/3.webp` type="image/webp")
              img(data-src=`${baseDir}/images/articles/3.jpg` alt="img").lozad
          .articles__body
            .articles__name Веймарский фарфор (Weimar Porzellan)
            .articles__descr
              | Сервиз с богатой отделкой, включающий множество предметов различного назначения, считается традиционным элементом семейного застолья, усиливающим душевную атмосферу.
        a(href="#").articles__item.swiper-slide
          .articles__top
            picture
              source(srcset=`${baseDir}/images/articles/4.webp` type="image/webp")
              img(data-src=`${baseDir}/images/articles/4.jpg` alt="img").lozad
          .articles__body
            .articles__name Саксонский фарфор Freiberger Porzellan
            .articles__descr
              | Если в разговоре упомянуто название саксонского города Фрайберг, российские историки непременно вспомнят, как здесь в химической лаборатории Иоганна Генкеля обучались светило русской науки Михайло
    .articles__upload
      button(type="button" class="button")
        | Читать больше