include ../pug/utils/mixins
block variables
  - var baseDir = '../static';

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="color-theme" content="")
    link(rel="stylesheet" type='text/css' href=`${baseDir}/css/main.css?ver='${Math.random()}'`)
    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
  body(class=pageClass)
    .wrapper
      if(pageClass === 'basket-page')
        include ../../components/header/header-small
      else
        include ../../components/header/header
      main.content#content
        block content
      if(pageClass === 'basket-page')
        include ../../components/footer/footer-small
      else
        include ../../components/footer/footer
    include ../../components/mobileMenu/mobileMenu
    include ../../components/filterModal/filterModal
    .popup.popup-one-click(data-popup-target="one-click")
      .popup__backdrop
      .popup__content
        .popup__close
          +icon('close','popup__close-icon')
        .popup__title 
          | Купить в 1 клик
        form.form.popup__form(action='/')
          .popup__form-inner
            .form__item
              label.form__label Ваш номер телефона
              .form__field
                .form__required обязательное
                input(type="tel" class="form__input" name="phone" placeholder="+7 ___ ___-__-__")
            .form__item
              .form__field
                .form__required обязательное
                input(type="email" class="form__input" name="email" placeholder="E-mail")
          button(type="submit" class="button button--fill")
            | Позвоните мне для уточнения способа оплаты и получения
          .form__agree
            input(type="checkbox" checked name="agree" id="agree")
            label(for="agree")
              +icon('check','form__agree-icon')
              | Нажимая кнопку "Перезвонить", я даю согласие на обработку моих персональных данных в соответствии с 
              a(href="#" data-popup-open="agree") 
                span Условиями 
              | и соглашаюсь с 
              a(href="#" data-popup-open="agree")
                span Публичной офертой
    .popup.popup-sign-up(data-popup-target="sign-up")
      .popup__backdrop
      .popup__content
        .popup__close
          +icon('close','popup__close-icon')
        .popup__title 
          | Записаться на просмотр
        .popup__address
          .popup__address-item
            span г.Москва, 
            | ул. Краснопролетарская, д.7
          .popup__address-item
            span Работаем ежедневно 
            | с 11:00 до 20:00
        form.form.popup__form(action='/')
          .popup__form-inner
            .form__item
              label.form__label 
                | В какой день и время
                br
                | вам было бы удобно зайти?
              textarea(name="message" class="form__textarea")
            .form__item
              label.form__label Ваш номер телефона
              .form__field
                .form__required обязательное
                input(type="tel" class="form__input" name="phone" placeholder="+7 ___ ___-__-__")
            button(type="submit" class="button button--fill")
              | Записаться
          .form__agree
            input(type="checkbox" checked name="agree" id="agree1")
            label(for="agree1")
              +icon('check','form__agree-icon')
              | Нажимая кнопку "Записаться", я даю согласие на обработку моих персональных данных в соответствии с 
              a(href="#" data-popup-open="agree") 
                span Условиями 
              | и соглашаюсь с 
              a(href="#" data-popup-open="agree")
                span Публичной офертой
    .popup.popup-gallery(data-popup-target="gallery")
      .popup__backdrop
      .popup__close 
        +icon('close','popup__close-icon')
      .popup__content
        .swiper.popupGallery
          .popupGallery__inner.swiper-wrapper
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
            .popupGallery__slide.swiper-slide
              img(data-src=`${baseDir}/images/popup/1.webp` alt="img").lozad
          .swiper-pagination.popupGallery__pagination
      .popupGallery__prev.popupGallery__arrow
        +icon('arrow-left','popupGallery__icon')
      .popupGallery__next.popupGallery__arrow
        +icon('arrow-right','popupGallery__icon')
    .popup.popup-delete-product(data-popup-target="delete-product")
      .popup__backdrop
      .popup__close 
        +icon('close','popup__close-icon')
      .popup__content
        .popup__type-alert
          .popup__title Точно хотите удалить товар?
          .popup__wrap
            button(type="button" class="button button--gold js-basket-product-remove") Удалить
            button(type="button" class="button js-basket-product-postpone") Отложить
    .popup.popup-agree.popup--scroll(data-popup-target="agree")
      .popup__backdrop
      .popup__content
        .popup__close
          +icon('close','popup__close-icon')
        .popup__agree 
          h3 1. ТЕРМИНЫ
          ul 
            li 1.1.  В целях единого толкования и понимания, нижеприведенные термины используются в следующем значении:
            li Публичная оферта (далее – оферта) – предложение Исполнителя, адресованное Заказчику (юридическому лицу или индивидуальному предпринимателю), заключить договор на оказание услуг на условиях, содержащихся в настоящей публичной оферте.
            li Акцепт публичной оферты (далее – акцепт, акцепт оферты) – полное и безоговорочное принятие Заказчиком условий настоящей публичной оферты путем совершения действий, указанных в разделе 2 публичной оферты. Акцепт оферты создает договор и признается заключенным.  Договор (далее Договор или Оферта) – возмездное соглашение между Исполнителем и Заказчиком на оказание услуг, заключенное посредством акцепта публичной оферты.
            li Исполнитель – Индивидуальный Предприниматель Годунов Игорь Дмитриевич.
            li Заказчик – Юридическое лицо или индивидуальный предприниматель, имеющее намерение получить услуги, заключившее с Исполнителем договор на условиях, содержащихся в настоящей публичной оферте. Юридическое лицо или индивидуальный предприниматель, принявшее нижеизложенные условия и оплатившее услуги, признается Заказчиком. 
            li Стороны – Заказчик и Исполнитель, именуемые в дальнейшем при совместном упоминании.  

          h3 2. ПРЕДМЕТ ОФЕРТЫ
          ul
            li 2.1 В соответствии с настоящим Договором Исполнитель обязуется оказать Заказчику услуги по технической поддержке программно-аппаратного комплекса рабочего места, указанные в Приложении № 2 к настоящему Договору (далее -Услуги).
            li 2.2 Заказчик обязуется принимать и оплачивать услуги в соответствии с условиями Оферты.
            li 2.3 Исполнитель:
            li - вправе привлекать к оказанию Услуг третьих лиц без предварительного получения на то согласия Заказчика;
            li - оказывает Услуги Заказчику только в случае оплаты.
            li 2.4 Акцептом договора-оферты является факт оплаты Заказчиком выбранной Услуги. 
          h3 3. ОБЩИЕ УСЛОВИЯ ОКАЗАНИЯ УСЛУГ
          ul 
            li 3.1.  Исполнитель оказывает Услуги Заказчику только при выполнении следующих условий:
            li 3.1.1. Заказчик предоставил программный продукт и оборудование в соответствии с правилами и требованиями настоящей Оферты.
            li 3.1.2. Заказчик осуществил Акцепт Оферты.
            li 3.2 Услуги предоставляются Заказчику в объеме, соответствующем сумме произведенной им предоплаты. Исполнитель оставляет за собой право немедленно расторгнуть Договор в одностороннем порядке в случае, если стоимость услуг, оказанных Исполнителем по Договору, стала равной или превысила сумму, оплаченную Заказчиком в качестве предоплаты за оказание услуг.
        .popup__button-close
          button(type="button" class="button button--fill") Закрыть
    if(pageClass === 'basket-page')
      .fixed-mobile-block.confirm-order
        button(type="button" class="button button--fill js-confirm-order" data-scroll-element="order-form")
          | Подтверждаю заказ
    if(pageClass === 'card-page')
      .fixed-mobile-block.card-mobile-button
        button(type="button" class="button button-outline" data-popup-open="one-click")
          | Купить в 1 клик
        button(type="button" class="button button-buy button--fill js-add-basket")
          +icon('basket-bold','button-buy__icon')
          span В корзину
    script(src=`${baseDir}/js/main.js?ver='${Math.random()}'`)
    script.
      setTimeout(() => {
        let GTMObject = document.createElement("script");
        GTMObject.src = 'https://www.googletagmanager.com/gtag/js?id=UA-226564787-1';
        GTMObject.async = true;
        document.getElementsByTagName('head')[0].appendChild(GTMObject);
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-226564787-1');
      }, 5000);
      setTimeout(() => {
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(88453227, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true });
      }, 5000);
    noscript
      img(src="https://mc.yandex.ru/watch/88453227" style="position:absolute; left:-9999px;")
    block script
