section.features
  .container 
    h1.default__title
      | Выберите предмет антиквариата по особенностям
    .features__inner 
      a(href="#").features__item
        .features__top 
          picture
            source(srcset=`${baseDir}/images/features/1.webp` type="image/webp")
            img(data-src=`${baseDir}/images/features/1.jpg` alt="img").lozad
        .features__body
          | По стилям
        .features__line   
          +icon('middle-arrow-right','features__icon')
      a(href="#").features__item
        .features__top 
          picture
            source(srcset=`${baseDir}/images/features/2.webp` type="image/webp")
            img(data-src=`${baseDir}/images/features/2.jpg` alt="img").lozad
        .features__body
          | По периодам времени
        .features__line   
          +icon('middle-arrow-right','features__icon')
      a(href="#").features__item
        .features__top 
          picture
            source(srcset=`${baseDir}/images/features/3.webp` type="image/webp")
            img(data-src=`${baseDir}/images/features/3.jpg` alt="img").lozad
        .features__body
          | По брендам
        .features__line   
          +icon('middle-arrow-right','features__icon')
      a(href="#").features__item
        .features__top 
          picture
            source(srcset=`${baseDir}/images/features/4.webp` type="image/webp")
            img(data-src=`${baseDir}/images/features/4.jpg` alt="img").lozad
        .features__body
          | По странам
        .features__line   
          +icon('middle-arrow-right','features__icon')
      a(href="#").features__item
        .features__top 
          picture
            source(srcset=`${baseDir}/images/features/5.webp` type="image/webp")
            img(data-src=`${baseDir}/images/features/5.jpg` alt="img").lozad
        .features__body
          | По материалам
        .features__line   
          +icon('middle-arrow-right','features__icon')
      a(href="#").features__item
        .features__top 
          picture
            source(srcset=`${baseDir}/images/features/6.webp` type="image/webp")
            img(data-src=`${baseDir}/images/features/6.jpg` alt="img").lozad
        .features__body
          | По сюжетам
        .features__line   
          +icon('middle-arrow-right','features__icon')