section.gallery
  .container
    h1.gallery__title Подберите предмет антиквариата по категории в антикварной галерее «Однажды»
    .gallery__inner
      a(href="#").gallery__item
        img(data-src=`${baseDir}/images/gallery/1.webp` alt="img").lozad
      a(href="#").gallery__item
        img(data-src=`${baseDir}/images/gallery/2.webp` alt="img").lozad
      a(href="#").gallery__item
        img(data-src=`${baseDir}/images/gallery/3.webp` alt="img").lozad
      a(href="#").gallery__item
        img(data-src=`${baseDir}/images/gallery/4.webp` alt="img").lozad
      a(href="#").gallery__item
        img(data-src=`${baseDir}/images/gallery/5.webp` alt="img").lozad
      a(href="#").gallery__item
        img(data-src=`${baseDir}/images/gallery/6.webp` alt="img").lozad
      a(href="#").gallery__item
        img(data-src=`${baseDir}/images/gallery/7.webp` alt="img").lozad
      a(href="#").gallery__item
        img(data-src=`${baseDir}/images/gallery/8.webp` alt="img").lozad
      a(href="#").gallery__item
        img(data-src=`${baseDir}/images/gallery/9.webp` alt="img").lozad
      a(href="#").gallery__item
        .gallery__main
          p Более 10 000 предметов
          span 
            | Смотреть
            br
            | всё
            +icon('long-arrow-right','gallery__main-icon')