section.sliderSection.similar
  .container
    .antiques__top
      h1 Похожие товары
    .swiper.swiperGroup
      .swiperGroup__inner.swiper-wrapper
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/1.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/1.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Набор кофейных чашек на 3 персоны из серии "Butterfly" (бабочка), фарфор, роспись, золочение, Meissener Porzellan (Мейсенский фарфор), Германия, 1934-1945 гг.
            .swiperGroup__price 15 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/2.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Столовый сервиз на 3 персоны с золотым цветочным декором (10 предметов), фарфор, крытье, кобальт, золочение, Weimar Porzellan (Веймарский фарфор), Германия, 1975-1991 гг.
            .swiperGroup__price 45 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/3.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/3.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Чайный сервиз "Васильки на черном фоне" на 5 персон, фарфор, роспись, золочение, Дмитровский фарфоровый завод (ДФЗ Вербилки), СССР, 1951-1954 гг.
            .swiperGroup__price 47 500 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/4.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/4.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Фруктовница с ручками с изображением цветов и насекомых, фарфор, роспись, золочение, Российская империя, 1916 г.
            .swiperGroup__price 25 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/2.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Фруктовница с ручками с изображением цветов и насекомых, фарфор, роспись, золочение, Российская империя, 1916 г.
            .swiperGroup__price 25 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/2.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Фруктовница с ручками с изображением цветов и насекомых, фарфор, роспись, золочение, Российская империя, 1916 г.
            .swiperGroup__price 25 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/2.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Фруктовница с ручками с изображением цветов и насекомых, фарфор, роспись, золочение, Российская империя, 1916 г.
            .swiperGroup__price 25 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/2.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Фруктовница с ручками с изображением цветов и насекомых, фарфор, роспись, золочение, Российская империя, 1916 г.
            .swiperGroup__price 25 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/2.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Фруктовница с ручками с изображением цветов и насекомых, фарфор, роспись, золочение, Российская империя, 1916 г.
            .swiperGroup__price 25 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/2.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Фруктовница с ручками с изображением цветов и насекомых, фарфор, роспись, золочение, Российская империя, 1916 г.
            .swiperGroup__price 25 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/2.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Фруктовница с ручками с изображением цветов и насекомых, фарфор, роспись, золочение, Российская империя, 1916 г.
            .swiperGroup__price 25 000 ₽
        a(href="#").swiperGroup__slide.antiques__slide.swiper-slide
          .swiperGroup__top
            picture
              source(srcset=`${baseDir}/images/new/2.webp` type="image/webp")
              img(data-src=`${baseDir}/images/new/2.jpg` alt="img").lozad
          .swiperGroup__bottom
            .swiperGroup__descr 
              | Фруктовница с ручками с изображением цветов и насекомых, фарфор, роспись, золочение, Российская империя, 1916 г.
            .swiperGroup__price 25 000 ₽
      .swiperGroup__prev.swiperGroup__arrow
        +icon('slider-arrow-left','swiperGroup__icon')
      .swiperGroup__next.swiperGroup__arrow
        +icon('slider-arrow-right','swiperGroup__icon')