section.kitchen
  .container
    h1.default__title Антикварная кухонная утварь
    .swiper.kitchen__swiper
      .swiper-wrapper.kitchen__inner
        a(href="#").swiper-slide.kitchen__item
          img(data-src=`${baseDir}/images/kitchen/1.webp` alt="img").lozad
          .kitchen__name  
            | Винно-ликерные сервизы
        a(href="#").swiper-slide.kitchen__item
          img(data-src=`${baseDir}/images/kitchen/2.webp` alt="img").lozad
          .kitchen__name  
            | Кофейные сервизы
        a(href="#").swiper-slide.kitchen__item
          img(data-src=`${baseDir}/images/kitchen/3.webp` alt="img").lozad
          .kitchen__name  
            | Столовые сервизы
        a(href="#").swiper-slide.kitchen__item
          img(data-src=`${baseDir}/images/kitchen/4.webp` alt="img").lozad
          .kitchen__name  
            | Горшки для запекания
        a(href="#").swiper-slide.kitchen__item
          img(data-src=`${baseDir}/images/kitchen/5.webp` alt="img").lozad
          .kitchen__name  
            | Самовары

